<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if (User == null) { %>
    <title>로그인을 먼저 하세요.</title>
    <body>
         로그인을 먼저 하세요.<br>
         <a href='/login'>login</a>
    </body>
</head>
</html>
<% } else { %>
    <title>아이디어 보드</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/board.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function loadDB() {
            $.ajax({
                type: "POST",
                url: "/load"
            });
        }
	</script>
    <script>
        function menu_change(no) {
            switch(no) {
                case 1:
                    $("#menu1").addClass("menu_on");
                    $("#menu2").removeClass("menu_on");
                    $("#menu3").removeClass("menu_on");
                    $("#chatting").css('display',"inline");
                    $("#Thema_list").css('display',"none");
                    $("#ideaCountBox").css('display',"none");
                    break;
                case 2:
                    $("#menu1").removeClass("menu_on");
                    $("#menu2").addClass("menu_on");
                    $("#menu3").removeClass("menu_on");
                    $("#chatting").css('display',"none");
                    $("#Thema_list").css('display',"inline");
                    $("#ideaCountBox").css('display',"none");
                    break;
                case 3:
                    $("#menu1").removeClass("menu_on");
                    $("#menu2").removeClass("menu_on");
                    $("#menu3").addClass("menu_on");
                    $("#chatting").css('display',"none");
                    $("#Thema_list").css('display',"none");
                    $("#ideaCountBox").css('display',"inline");
                    $("#userIdeaCount").css('visibility',"visible");
                    break;
                default:
                    $("#chatting").css('display',"inline");
                    $("#Thema_list").css('display',"none");
                    $("#ideaCountBox").css('display',"none");
            }
        }
        function background_change(no) {
            socket.emit("background_change",no);
        }
        function create_card_db(content,maxIdeaNum,color,x,y,cnt,edge) {
            var user = '<%=User.username%>';
            socket.emit('request create card',content,maxIdeaNum,color,x,y,cnt,edge,user);
        }
    </script>
    <script src="assets/js/post-it.js"></script>

</head>
<body onload="loadDB()">
<form action="/load" id ="myform" method="post">
</form>
<nav>
    <span id='id'><%=User.username%></span>님 브레인스토밍을 진행해주세요.
    <br>
    <span id ='user'></span>

    <ul id="userList">
        <span> 접속자 :</span>
        <% for(var i=0; i<UserList.length; i++) { %>
        <li>
                <%= UserList[i] %>
        </li>
        <% } %>
    </ul>
</nav>
<div id="wrapper">
    <div id="anchor"></div>
    <div id="board_wrapper">
        <div id="board"></div>
        <div id="suggest_keywords_wrapper">
        </div>
        <div id="idea_keyeword_wrapper">
        </div>
    </div>
    <div id="chat_wrapper">
        <div id="side_menu">
            <ul>
                <li>
                    <a id="menu1" href="javascript:menu_change(1)">
                        <p>Chatting</p>
                    </a>
                </li>
                <li>
                    <a id="menu2" href="javascript:menu_change(2)">
                        <p>
                            Thema
                        </p>
                    </a>
                </li>
                <li>
                    <a id="menu3" href="javascript:menu_change(3)">
                        <p>
                            IdeaCount
                        </p>
                    </a>
                </li>

            </ul>
        </div>

        <div id="Thema_list">
            <ul>
                <li>
                    <h3 class="Thema_title">Braim</h3>
                    <a href="javascript:background_change(1)">
                        <img src="assets/img/braim.png">
                    </a>
                </li>
                <li>
                    <h3 class="Thema_title">Scrum</h3>
                    <a href="javascript:background_change(2)">
                        <img src="assets/img/scrum.png">
                    </a>
                </li>
                <li>
                    <h3 class="Thema_title">Bucket List</h3>
                    <a href="javascript:background_change(3)">
                        <img src="assets/img/bucket.png">
                    </a>
                </li>
                <li>
                    <h3 class="Thema_title">Retrospect</h3>
                    <a href="javascript:background_change(4)">
                        <img src="assets/img/retrospect.png">
                    </a>
                </li>
                <li>
                    <h3 class="Thema_title">Retrospect2</h3>
                    <a href="javascript:background_change(5)">
                        <img src="assets/img/retrospect2.png">
                    </a>
                </li>
                <li>
                    <h4 class="Thema_title">Business-Model<br> 9 Block</h4>
                    <a href="javascript:background_change(6)">
                        <img src="assets/img/bm-canvas.jpg">
                    </a>
                </li>
                <li>
                    <h4 class="Thema_title"> Note</h4>
                    <a href="javascript:background_change(7)">
                        <img src="assets/img/note.png">
                    </a>
                </li>
            </ul>
        </div>
        <div id="chatting">
            <form action="">
                <input id="m"/>
                <button id="send_msg">send</button>
            </form>
            <div id="chat_list"></div>
        </div>
		<script>
		      var socket = io();
	            $('form').submit(function(){
                    var msg_txt = new Object();
                    msg_txt.id = "<%=User.username%>";
                    msg_txt.msg = $('#m').val();
                    socket.emit('chat message', msg_txt);
                    $('#m').val('');
                    return false;
                });
		        socket.on('chat message', function(msg_txt){
                    txt = msg_txt.id + " : " + msg_txt.msg;
                    $('#chat_list').append($('<li>').text(txt));
                });
        </script>
        <div id="ideaCountBox">
            <ul id="userIdeaCount">

            </ul>
        </div>
    </div>
</div>
</body>
</html>
<% } %>
