<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if (User == null) { %>
    <title>로그인을 먼저 하세요.</title>
    <body>
         로그인을 먼저 하세요.<br>
         <a href='/login'>login</a>
    </body>
</head>
</html>
<% } else { %>
    <title>여기에 타이틀</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/board.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!--<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function loadDB() {
            $.ajax({
                type: "GET",
                url: "/load"
            });
        }
    </script>
    <script src="assets/js/post-it.js"></script>
</head>
<body onload="loadDB()">
<nav>
    <span id='id'><%=User.username%></span>님 브레인스토밍을 진행해주세요.
    <input type=button value="관계 적용" onclick="applyEdge()"/>
    <input type=button value="관계 보기" onclick="showEdge()"/>
    <input type=button value="관계 보지 않기" onclick="removeEdge()"/>
    <br>
    <div class="inline-block">선택한 시작 지점 :<p id="from" class="inline-block"></p></div>
    <div class="inline-block" id="endText">선택한 도착 지점 :<p id="to" class="inline-block"></p></div>
</nav>
<div id="wrapper">
    <div id="anchor"></div>
    <div id="board_wrapper">
        <div id="board"></div>
        <div id="suggest_keywords_wrapper">
        </div>
        <div id="idea_keyeword_wrapper">
        </div>
    </div>
    <div id="chat_wrapper">
        <div id="chat_list">
        </div>
        <div id="chat_input">
            <input id = chat_msg type="text"/>
            <button id="send_msg">send</button>
        </div>
    </div>
</div>
</body>
</html>
<% } %>
