<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if (User == null) { %>
    <title>로그인을 먼저 하세요.</title>
    <body>
         로그인을 먼저 하세요.<br>
         <a href='/login'>login</a>
    </body>
</head>
</html>
<% } else { %>
    <title>여기에 타이틀</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/board.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function loadDB() {
            $.ajax({
                type: "POST",
                url: "/load"
            });
        }
	</script>
    <script src="assets/js/post-it.js"></script>
</head>
<body onload="loadDB()">
<form action="/load" id ="myform" method="post">
</form>
<nav>
    <span id='id'><%=User.username%></span>님 브레인스토밍을 진행해주세요.
    <br>
    <div class="inline-block">선택한 시작 지점 :<p id="from" class="inline-block"></p></div>
    <div class="inline-block" id="endText">선택한 도착 지점 :<p id="to" class="inline-block"></p></div>
</nav>
<div id="wrapper">
    <div id="anchor"></div>
    <div id="board_wrapper">
        <div id="board"></div>
        <div id="suggest_keywords_wrapper">
        </div>
        <div id="idea_keyeword_wrapper">
        </div>
    </div>
    <div id="chat_wrapper">
        <div id="chat_list">
        </div>
        <form action="">
            <input id="m"/>
            <button id="send_msg">send</button>
        </form>
		<script>
		      var socket = io();
	            $('form').submit(function(){
                    socket.emit('chat message', $('#m').val());
                    $('#m').val('');
                    return false;
                });
		        socket.on('chat message', function(msg){
                    $('#chat_list').append($('<li>').text(msg));
                });
        </script>
    </div>
</div>
</body>
</html>
<% } %>
