<html>
	<head>
		<link href="assets/css/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>

	<body>
		<h1>안녕하세요<% if(User!=null){%><%= ' '+User.username+'님' %><%}%>. 브레임에 오신 것을 환영합니다.</h1>
		<a href='/login'>Login</a></br />
		<a href='/register'>Register</a><br />
		<a href='/logout'>Logout</a><br />
		<!--<script>
			$.ajax({
				type: "POST",
				url: "/personjson",
				data: JSON.stringify({
					user_id : "uid",
					username: 'ajax',
					password: 'Doe'
				}),
				dataType: 'json',
				contentType: "application/json"
			});
		</script>-->
	</body>
</html>
