<html>
	<head>
		<link href="/assets/css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1> Hello!!</h1>
		<h1>ID : <%= ID %></h1>
		<h2>UserName : <%= UserName %></h2>
	</body>
</html>