<html>
<head>
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
</head>
<script>
     for (i = 0; i < board.length; i++) {
         var obj = JSON.stringify(board[i]);
         var idea = JSON.parse(obj);

     }
</script>
<body onload="javascript:window.resizeTo(300,400)">
    <h2>댓글 내용</h2>
    <ul>
        <% for(i =0 ; i<board.length ; i++ ) {%>
        <li>
                <%=board[i].reply%>
        </li>
        <%}%>
    </ul>

</body>
</html>
