<html>
<head>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src="assets/js/rating.min.js"></script>
    <link href="assets/css/rating.min.css" type="text/css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js"></script>
</head>
<body onload="javascript:window.resizeTo(300,400)">
<h2><%=no%>번 아이디어 의견 쓰기</h2>
<div id="idea_reply"></div>
<script>
    /**
     * Demo in action!
     */
    (function() {

        'use strict';

        var replyBoard = document.querySelector('#idea_reply');

        var data = [
            {
                rating: 0
            }
        ];

        // INITIALIZE
        (function init() {
            for (var i = 0; i < data.length; i++) {
                addRatingWidget(buildShopItem(data[i]), data[i]);
            }
        })();

        // BUILD SHOP ITEM
        function buildShopItem(data) {
            var replyItem = document.createElement('div');

            var html = '<form name="reply_form" action="/api/reply" method="post">' +
                    '<ul class="c-rating"></ul>' +
                    '<input id="reply" name="reply"/>'+
                    '<input type="hidden" name="no" value="<%=no%>"/>'+
                    '<input type="hidden" id="rating" name="rating" value=0/>'+
                    '<input type="submit" />'+
                    '</form>';

            replyItem.classList.add('c-shop-item');
            replyItem.innerHTML = html;
            replyBoard.appendChild(replyItem);

            return replyItem;
        }

        // ADD RATING WIDGET
        function addRatingWidget(shopItem, data) {
            var ratingElement = shopItem.querySelector('.c-rating');
            var currentRating = data.rating;
            var maxRating = 5;
            var callback = function(rating) {
                var input = document.getElementById('rating');
                input.value=rating;
            };
            var r = rating(ratingElement, currentRating, maxRating, callback);
        }

    })();

</script>
</body>
</html>
