body {
    width:100%;
    margin : 0 0 0 0;
    font-family: sans-serif;
}

nav {
    width: 1300px;
    height: 80px;
    background: url("../img/header.png");
    background-size: 1300px 80px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    
}
