<<<<<<< HEAD
#board {
  font-family: monospace;
  background-color: #46b7cd;
  margin: 0;
  padding: 0;
  position: relative;
}

.post-it {
  position: absolute !important;
  width: 160px;
  background-color: #FEF1B5;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
}

.post-it .header {
  background-color:#FEE5AC;
  text-align: right;
  padding: 2px;
}

.post-it .header:hover {
  background-color: #FFFACD;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: #603311;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #D19275;
}

.post-it .title {
  color: #000000;
  background-color: rgb(255, 220, 129);
  font-weight:bold;
  text-align: center;
}
.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
=======
body{
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;

}

#wrapper{
  width:1400px;
}

#board_wrapper{
  height:100vh;
  width:1000px;
  float:left;
  background-color:#485c6e;
}

#keyword_input{
  top:70%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  display:block;
  width:400px;
  height: auto;
  vertical-align: middle;
}

#keyword_input input{
  border: solid 2px #3580a4;
  height:20px;
  float:left;
  width:auto;
  display:inline-block;
}

#keyword_button{
  width:20%;
  height:26px;
  border: none;
  background:#3580a4;
  display:inline-block;
  text-align: center;
  color:white;
}

#suggest_keywords_wrapper{

}

#idea_keyword_wrapper{

}

.ideabox{
  border-radius: 10px;
  background:white;
  width:300px;
  height:auto;
}
.ideabox h1{
  font-size:20px;
}
.ideapbox #marker{
  border-radius:50%;
  width:20px;
  height:20px;
}

#chat_wrapper{
  width:400px;
}

#chat_list{

}

#chat_list .user_name{

}


#chat_list .user_icon{

}

#chat_list ul{

}

#chat_list ul li{

}

#chat_input{

>>>>>>> origin/master
}

#chat_intput input{

}

#chat_input button{

}
