<<<<<<< HEAD
#board {
  font-family: monospace;
  background-color: #46b7cd;
  margin: 0;
  padding: 0;
  position: relative;
}

.post-it {
  position: absolute !important;
  width: 160px;
  background-color: #FEF1B5;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
}

.post-it .header {
  background-color:#FEE5AC;
  text-align: right;
  padding: 2px;
}

.post-it .header:hover {
  background-color: #FFFACD;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: #603311;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #D19275;
}

.post-it .title {
  color: #000000;
  background-color: rgb(255, 220, 129);
  font-weight:bold;
  text-align: center;
}
.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
=======
body{
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;

}

#board_wrapper{
  width:70%;
}

#keyword_input{

}

#keyword_input input{

}

#keyword_input button{

}

#suggest_keywords_wrapper{

}

#idea_keyword_wrapper{

}

#chat_wrapper{
  width:30%;
}

#chat_list{

}

#chat_input{

>>>>>>> origin/master
}
