doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title 여기에 타이틀
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/board.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-2.2.1.min.js')
    script(src='script/script.js')
  body
    nav 여기에 네비게이션바
    #wrapper
      #anchor
      #board_wrapper
        #board
        #suggest_keywords_wrapper
        #idea_keyeword_wrapper
      #chat_wrapper
        #chat_list
          ul
        #chat_input
          input#chat_msg(type='text')
          button#send_msg send