extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
          i.fa.fa-bars
        .col-md-12
          br
          ul
            li
              a(href="/") Go home
            li
              if (!user)
                a(href="/login") Login
              if(user)
                p You are currently logged in as #{user.username}
                a(href="/logout") Logout
            li
              a(href="/register") Register
      
              
